<div class="card text-center">
    <div class="card-header">
      Registration
    </div>
    <div class="card-body">
        
        <form>
            <div class="row">
              <div class="col">
                <input type="text" [(ngModel)]="user.FirstName" name="firstName" class="form-control" placeholder="First name">
              </div>
              <div class="col">
                <input type="text" [(ngModel)]="user.MiddleName" name="middleName" class="form-control" placeholder="Middle name">
              </div>
              <div class="col">
                <input type="text" [(ngModel)]="user.LastName" name="lastName" class="form-control" placeholder="Last name">
              </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                  <input type="text" [(ngModel)]="user.UserId" name="UIDNo" class="form-control" placeholder="UID">
                </div>
                <div class="col">
                  <input type="password" [(ngModel)]="user.Pswd" name="password" class="form-control" placeholder="password">
                </div>
                <div class="col">
                  <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password">
                </div>
              </div>
              <div class="row mt-3">
                <div class="col input-group">
                   
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="inputGroupSelect03">Gender</label>
                        </div>
                        <select class="custom-select " [(ngModel)]="user.Gender" name="gender" id="inputGroupSelect03" style="width: 72%;">
                          
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                        </select>
                      
                </div>
                <div class="col input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Nationality</label>
                      </div>
                      <select  class="custom-select " [(ngModel)]="user.Nationality" name="nationality" id="inputGroupSelect01" style="width: 70%;">
                       
                          <option *ngFor="let nation of nationality" value="{{nation}}">{{nation}}</option>
                       
                        
                        <!-- <option value="2">Two</option>
                        <option value="3">Three</option> -->
                      </select>
                </div>
                <div class="col input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect02">Language</label>
                      </div>
                      <select  class="custom-select " [(ngModel)]="user.Language"name="language" id="inputGroupSelect02" style="width: 70%;">
                        
                          <option *ngFor="let language of languages" value="{{language}}">{{language}}</option>
                        
                        
                        <!-- <option value="2">Two</option>
                        <option value="3">Three</option> -->
                      </select>
                </div>
              </div>
              <div class="row justify-content-center mt-3">
                <button (click)="submit()"  class="btn btn-primary w-25">Submit</button>
              </div>
        </form>
          
      
    </div>
  </div>
  

    
    