<div class="container-fluid" style=" height: 100vh; overflow: hidden;">
  <div class="row" style=" height: 10vh; ">
    <app-header></app-header>
  </div>

  <div class="row" style=" height: 80vh">
    <div class="col" style=" height: 100%">
      <div
        class="card m-5 mt-0"
        style="height: 100%"
        [ngStyle]="{ filter: blur }"
      >
        <div class="card-header">Easy to Speech <img style="cursor: pointer; border-radius: 10px;" src="././../assets/mic.png" alt="" srcset="" width="35px" height="35px"></div>
        <div class="card-body">
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
              <router-outlet></router-outlet>
            </div>

            <div class="col-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style=" height: 10vh; border-top: 2px solid #ced4da; background-color: #87898b;">
    <app-footer></app-footer>
  </div>
  <app-record-popup></app-record-popup>
</div>
