<head>
  <link
    href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"
    rel="stylesheet"
  />
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
</head>
<style>
  .disabled {
    pointer-events: none;
  }
</style>

<div class="card text-center">
  <div class="card-header">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="input-group">
          <input
            placeholder="Enter Name!"
            type="text"
            [(ngModel)]="typedName"
            class="form-control"
            id="basic-url"
            aria-describedby="basic-addon3"
          />
        </div>
      </div>
      <div class="col">
        <button
          (click)="fetchStandardPronounciation()"
          data-toggle="modal"
          data-target="#exampleModalCenter"
          class="btn {{
            suggestedNames.length == 0 && typedName.length
              ? 'btn-primary'
              : 'btn-secondary disabled'
          }}"
        >
          <h5 style="font-size: 15px">Standard Pronounciation</h5>
        </button>
      </div>
    </div>
    <div
      *ngIf="typedName.length && suggestedNames.length"
      class=""
      style="height: 25vh; overflow-y: scroll; overflow-x: hidden"
    >
      <div class="row my-1" *ngFor="let suggestedName of suggestedNames">
        <div class="col-2"></div>
        <div class="col-8">
          <div
            class="row mx-0"
            style="
              border: 1px solid #ced4da;
              border-radius: 0.25rem;
              background-color: white;
            "
          >
            <div class="col-2 py-2" style="border-right: 2px solid #ced4da">
              <img
                class="btn-primary"
                style="cursor: pointer; border-radius: 10px"
                src="./.././../assets/play.png"
                alt=""
                srcset=""
                width="35px"
                height="35px"
              />
              <!-- <img class="btn-primary" style="cursor: pointer; border-radius: 10px;" src="./.././../assets/pause.png" alt="" srcset="" width="35px" height="35px"> -->
            </div>
            <div class="col-4" style="cursor: pointer">
              <h3 class="py-2" style="font-size: 1.5vw">
                {{ suggestedName.name }}
              </h3>
            </div>
            <div class="col-4" style="cursor: pointer">
              <h3 class="text-muted py-2" style="font-size: 1.5vw">
                {{ suggestedName.phonetic }}
              </h3>
            </div>
            <div class="col-2 py-2" style="border-left: 2px solid #ced4da">
              <div class="row m-0 p-0">
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckDefault"
                  />
                  <label
                    class="form-check-label p-0 m-0"
                    style="font-size: 1vw"
                    for="flexSwitchCheckDefault"
                    >Slow</label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div *ngIf="suggestedNames.length == 0 && typedName,length" class="row my-1">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="input-group">
          <div
            class="text-start"
            style="cursor: pointer; background-color: white; width: 88%"
          >
            <h5 class="px-3 pt-2 text-muted">
              Name Not Found. Please Record the name or click on Standard Pronounciation.
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="typedName.length" class="card-footer text-muted">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <button
          (click)="openPopUp()"
          data-toggle="modal"
          data-target="#exampleModalCenter"
          class="btn btn-primary"
        >
          Record Name<img
            class="btn-primary"
            src="./.././../assets/mic.png"
            alt=""
            srcset=""
            width="35px"
            height="35px"
          />
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="recordId" class="row mt-4 text-center justify-content-center">
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Your Recording</h5>
      <img
        *ngIf="!isPlaying"
        (click)="playRecord()"
        class="btn-primary"
        style="cursor: pointer; border-radius: 10px"
        src="./.././../assets/play.png"
        alt=""
        srcset=""
        width="50px"
        height="50px"
      />
      <img
        *ngIf="isPlaying"
        (click)="playRecord()"
        class="btn-primary"
        style="cursor: pointer; border-radius: 10px"
        src="./.././../assets/pause.png"
        alt=""
        srcset=""
        width="50px"
        height="50px"
      />
    </div>
  </div>
  
</div>

<div class="modal" id="exampleModalCenter" tabindex="-1" role="dialog" [ngStyle] = "{'display':stdDisplay}" 
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="filter: blur(0px);">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="border-radius: 30px;">
          <div class="modal-header" style="word-break: break-all;">
            <h5 class="modal-title" id="exampleModalLongTitle">Standard Pronounciation</h5>
            <button class="close" type="button" (click)="closeSTDPopUp()" data-dismiss="modal" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
            <div class="modal-body">
                <div class="row ">
                    <audio *ngIf="stdAudioUrl" controls controlsList="nodownload noplaybackrate">
                        <source [src]="stdAudioUrl" type="audio/mp3">
                    </audio>
                </div>
            </div>
            <div class="modal-footer">
              <div class="row w-100">
                  <div class="col justify-content-center text-center">
                      <button (click)="saveAudio()" type="button" class="btn btn-primary m-2 " data-dismiss="modal">Save</button>
                  </div>
              </div>
          </div>
        </div>
    </div>

</div>
